.pagination {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  box-sizing: border-box;
  justify-content: center;
  button {
    border: none;
    width: 30px;
    height: 30px;
    background: none;
    cursor: pointer;
    &.active {
      font-weight: bold;
      border: 1px solid;
      border-radius: 5px;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}
